{% extends 'base.html' %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col-12 text-center text-dark bgcolo">
            <h2>Produk Kami</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for barang in barangs %}
        <div class="col-4">
            <div class="card">
                <img src="{{ barang.foto_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ barang.nama }}</h5>
                    <p class="card-text text-success">{{ barang.harga }}</p>
                    <a href="{% url 'detail' barang.id%}" class="btn btn-primary">Lihat detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}